body {
  font-size: 120%;
  font-family: "Varela Round", sans-serif;
  background-color: #fd0303;
  color: white;
}

.navbar-brand {
  color: #fd0303;
  font-size: 175%;
}

.decoImages {
  width: 105%;
}

#spades {
  transform: rotate(20deg);
}

#diamonds {
  transform: rotate(-20deg);
}

.headerBtn {
  background-color: #fd0303;
  color: white;
  outline: none;
  border: none;
}

.modal-title {
  color: black;
}

.modal-body {
  background-color: #fd0303;
}

.modal-footer {
  background-color: white;
}

.card-body {
  color: black;
}

.aces {
  vertical-align: bottom;
  margin-bottom: -2%;
}

button,
input {
  font-size: 100%;
  font-family: Arial;
}

table {
  width: 100%;
  background-color: white;
  color: black;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.container {
  margin: 0 auto;
  max-width: 95%;
  text-align: center;
}

.total {
  font-size: 175%;
}

.form {
  margin-top: 25px;
}

#name {
  margin: 1%;
}

.btn {
  margin: 1%;
}

.buttons {
  background-color: white;
  color: #fd0303;
}

.buttons:hover {
  color: white;
  background-color: black;
}

.buttons:focus {
  color: white;
  background-color: black;
}

.accordion-button:not(.collapsed) {
  background-color: black;
  color: white;

}

.accordion-button:focus {
border-color: none;
box-shadow: none;
}
/* 
.button.accordian-button::after {
  color:white;
} */

